:root {
	--mainColor: #eaeaea;
	--secondaryColor: #fff;

	--borderColor: #c1c1c1;

	--mainText: #0a2744;
	--secondaryText: #2a506e;

	--themeDotBorder: #24292e;

	--previewBg: rgb(251, 249, 243, 0.8);
	--previewShadow: #f0ead6;

	--buttonColor: black;
}

html,
body {
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
}

body * {
	transition: 0.3s;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
	/* background-color: var(--mainColor); */
	color: var(--mainText);
	font-family: "Russo One", sans-serif;
	font-weight: 500;
}

a {
	text-decoration: none;
	color: #17a2b8;
}

ul {
	list-style: none;
}

h1 {
	font-size: 56px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 28px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 20px;
}

h6 {
	font-size: 16px;
}

p,
li,
span,
label,
input,
textarea {
	color: var(--secondaryText);
	font-family: "Roboto Mono", monospace;
}

.s1 {
	background-color: var(--mainColor);
	border-bottom: 1px solid var(--borderColor);
	overflow: auto;
}

.s2 {
	background-color: var(--secondaryColor);
	border-bottom: 1px solid var(--borderColor);
	overflow: auto;
}

.main-container {
	width: 1200px;
	margin: 0 auto;
}

.greeting-wrapper {
	display: grid;
	justify-content: center;
	/* for x direction */
	align-content: center;
	/* for y direction */
	min-height: 10em;
}

.intro-wrapper {
	background-color: var(--secondaryColor);
	border: 1px solid var(--borderColor);
	border-radius: 5px 5px 0 0;
	padding-bottom: 50px;

	-webkit-box-shadow: 10px 10px 17px -6px rgba(0, 0, 0, 0.59);
	-moz-box-shadow: 10px 10px 17px -6px rgba(0, 0, 0, 0.59);
	box-shadow: 10px 10px 17px -6px rgba(0, 0, 0, 0.59);

	display: grid;
	grid-template-columns: 1fr 1fr;
	/* grid-template-rows: 3em 30em; */
	grid-template-areas:
		"nav-wrapper nav-wrapper"
		"left-col right-col";
}

.nav-wrapper {
	grid-area: nav-wrapper;
	border-bottom: 1px solid var(--borderColor);
	border-radius: 5px 5px 0 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--mainColor);
}

#navigation a {
	color: var(--mainText);
}

#navigation {
	margin: 0;
	padding: 10px;
}

.dots-wrapper {
	display: flex;
	padding: 10px;
}

#dot1 {
	background-color: #fc6058;
}

#dot2 {
	background-color: #fec02f;
}

#dot3 {
	background-color: #2aca3e;
}

.browser-dot {
	background-color: black;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	margin: 5px;

	-webkit-box-shadow: -8px 11px 6px -7px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: -8px 11px 6px -7px rgba(0, 0, 0, 0.75);
	box-shadow: -8px 11px 6px -7px rgba(0, 0, 0, 0.75);
}

.left-col {
	grid-area: left-col;
	padding-top: 50px;
	padding-bottom: 50px;
}

#profile_pic {
	display: block;
	margin: 0 auto;
	height: 200px;
	width: 200px;
	object-fit: contain;
	/*wont distord the image if its too large*/
	/* border: 2px solid var(--borderColor); */
}

#theme-options-wrapper {
	display: flex;
	justify-content: center;
}

.theme-dot {
	height: 30px;
	width: 30px;
	background-color: black;
	border-radius: 50%;

	margin: 15px;
	border: 2px solid var(--themeDotBorder);
	-webkit-box-shadow: -8px 11px 6px -7px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: -8px 11px 6px -7px rgba(0, 0, 0, 0.75);
	box-shadow: -8px 5px 6px -7px rgba(0, 0, 0, 0.75);

	cursor: pointer;
}

.theme-dot:hover {
	border-width: 5px;
}

#light-mode {
	background-color: #fff;
}

#dark-mode {
	background-color: #192734;
}

.right-col {
	grid-area: right-col;
	display: grid;
	align-content: center;

	padding-top: 50px;
	padding-bottom: 80px;
}

#preview-shadow {
	background-color: var(--previewShadow);
	width: 300px;
	height: 200px;
	padding-left: 20px;
	padding-top: 30px;
}

#preview {
	width: 300px;
	border: 1.5px solid #17a2b8;
	background-color: var(--previewBg);
	padding: 15px;
	position: relative;
}

#corner-tl {
	top: -5px;
	left: -5px;
}

#corner-tr {
	top: -5px;
	right: -5px;
}

#corner-bl {
	bottom: -5px;
	left: -5px;
}

#corner-br {
	bottom: -5px;
	right: -5px;
}

.corner {
	width: 7px;
	height: 7px;
	border-radius: 50%;
	border: 1.5px solid #17a2b8;
	background-color: #fff;
	position: absolute;
}

.about-wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	gap: 100px;
}

#skills {
	display: flex;
	justify-content: space-evenly;
	background-color: var(--previewShadow);
}

#social_img {
	height: 200px;
	width: 200px;
	object-fit: contain;
}

.social-links {
	display: grid;
	justify-content: center;
	padding-right: 10px;
	column-gap: 50px;
	text-align: center;

	grid-template-columns: 1fr 1fr;
	/* grid-template-rows: 3em 30em; */
	grid-template-areas: "social-img social-img";
}

.social-header {
	padding: 25px;
}

.post-wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, 320px);
	gap: 20px;
	justify-content: center;
	padding-bottom: 50px;
}

.post {
	border: 1px solid var(--borderColor);
	-webkit-box-shadow: -2px 7px 21px -9px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: -2px 7px 21px -9px rgba(0, 0, 0, 0.75);
	box-shadow: -2px 7px 21px -9px rgba(0, 0, 0, 0.75);
}

.post-preview {
	background-color: #fff;
	color: var(--mainText);
	padding: 15px;
}

.email-box {
	background-color: var(--previewShadow);
	padding: 15px;
}

.contact-info {
	display: block;
	padding-top: 10rem;
}

.post-title {
	color: black;
	padding: 5px;
	margin: 0;
}

.post-intro {
	height: 160px;
	color: #4b5156;
	font-size: 14px;
	overflow: auto;
}

.thumbnail {
	display: block;
	width: 100%;
	height: 180px;
	object-fit: scale-down;
}

@media screen and (max-width: 1200px) {
	.main-container {
		width: 95%;
	}
}

@media screen and (max-width: 800px) {
	a {
		text-decoration: none;
		color: #17a2b8;
	}

	ul {
		list-style: none;
	}
	a {
		font-size: 12px;
	}
	h1 {
		font-size: 36px;
	}

	h2 {
		font-size: 26px;
	}

	h3 {
		font-size: 18px;
	}

	h4 {
		font-size: 14px;
	}

	h5 {
		font-size: 10px;
	}

	h6 {
		font-size: 6px;
	}

	.intro-wrapper {
		grid-template-columns: 1fr;
		/* grid-template-rows: 3em 30em; */
		grid-template-areas:
			"nav-wrapper"
			"left-col"
			"right-col";
	}

	.right-col {
		justify-content: center;
	}

	.social-links {
		display: grid;
		justify-content: center;
		padding: 10px;
		text-align: center;

		grid-template-columns: 1fr;
		/* grid-template-rows: 3em 30em; */
		grid-template-areas: "social-img";
	}
	.social-links #social_img {
		height: 100px;
		width: 100px;
		object-fit: contain;
	}
}

@media screen and (max-width: 400px) {
	a {
		text-decoration: none;
		color: #17a2b8;
	}

	ul {
		list-style: none;
	}

	h1 {
		font-size: 26px;
	}

	h2 {
		font-size: 16px;
	}

	h3 {
		font-size: 18px;
	}

	h4 {
		font-size: 14px;
	}

	h5 {
		font-size: 12px;
	}

	h6 {
		font-size: 12px;
	}

	#preview-shadow {
		max-width: 280px;
		height: 180px;
		padding-left: 10px;
		padding-top: 10px;
	}

	#social_img {
		height: 50px;
		width: 50px;
		object-fit: contain;
	}

	#preview {
		width: 280px;
	}
}
